DB_HOST=localhost
DB_PORT=3306
DB_NAME=sanjuan
DB_USER=produccion
DB_PASS=

JWT_SECRET=
HASH_SECRET=

ADMIN_USER=admin
ADMIN_PASS=

PORT=3001

BANCARD_ENV=sandbox
BANCARD_PUBLIC_KEY=
BANCARD_PRIVATE_KEY=
